html {
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --orange-color: #ff9900;
    --grey-color: #cacaca;
    --dark-color: #222;
    --dark-grey-color: #414141;
    --dark-orange-color: #E1670E;
    --light-orange-color: #FFB84D;
    --medium-grey-color: #666;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    min-width: 320px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.site-btn {
    border: none;
    background-color: #ff9900;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;
    color: white;
}

.site-btn:hover {
    background-color: #ffb84d;
}

.site-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: var(--black-color);
}

.btn-reset {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 75px;

}

/* header */

.header {
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    height: 100px;
    padding: 14px 0;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.header__list {
    display: flex;
    gap: 85px;
}


.header__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: black;
}

.header__search {
    margin-left: auto;
}

/*  hero */

.hero {
    height: 620px;
    margin: 50px 0;
}

.hero__container {
    height: 100%;
    overflow: hidden;
}

.hero__content {
    position: absolute;
    z-index: 2;
    padding-left: 80px;
    padding-top: 100px;
}

.hero__title {
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    color: white;
    max-width: 837px;
    margin-bottom: 24px;
}

.hero__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: white;
    max-width: 790px;
    margin-bottom: 90px;
}

.hero__btn {
    padding: 25px 39px;
    font-size: 23px;
    line-height: 28px;
}

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;

}

.swiper-wrapper {}

.swiper-slide {
    background-size: cover;
}

.swiper-pagination {
    margin-bottom: 18px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: var(--grey-color);
}

.about {
    padding-bottom: 100px;
}

.about__title {
    margin-bottom: 20px;
}

.about__text {
    margin-bottom: 50px;
    max-width: 1235px;
    line-height: 200%;
}

.about__content {
    display: flex;
    gap: 32px;
}

.about__content>* {
    flex: 1 1 50%;
}

.about__left {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    border-radius: 32px;
}

.about__left-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    min-height: 100%;
}

.about__left-inner {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    padding: 50px;
    align-items: center;
    margin-top: auto;
}

.about__left-text {}

.about__btn {}

.btn-reset {}

.about__right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about__right-item {
    background-repeat: no-repeat;
    border: 1px solid var(--grey-color);
    border-radius: 32px;
    padding: 65px 0 65px 300px;

}

.cube-bg {
    background-image: url("../image/about2.png");
}

.about__right-title {}

.about__right-text {}

.setting-bg {
    background-image: url("../image/about3.png");
}

.work {
    padding-bottom: 100px;
}

.worl__title {
    margin-bottom: 51px;
}

.work__list {
    display: flex;
    margin-bottom: 45px;
    gap: 85px;
}


.work__btn {
    font-size: 18px;
    line-height: 22px;
}

.work__content {
    display: flex;
    justify-content: space-between;
}

.work__left {
    flex-basis: 50%;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work__inner {}

.work__heading {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.work__text {
    max-width: 758px;
    font-size: 16px;
    line-height: 32px;
}

.work__btns {
    display: flex;
    gap: 32px;
}

.work__btn-left {
    padding: 20px 38px;
}

.work__btn--border {
    border: 1px solid black;
    border-radius: 16px;
}

.work__right {}

.work__img {}

.questions {
    padding-bottom: 100px;
}

.questions__title {
    margin-bottom: 32px;
}

.question__title {}

.question__btn {
    padding: 39px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px; 
    cursor: pointer;
    position: relative;
    width: 100%;
    text-align: left;
    transition: all 0.5s ease;

}

.question__text {}

.question__icon {
    position: absolute;
    height: 52px;
    width: 52px;
    background-color: var(--grey-color);
    border-radius: 50%; 
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s, 0.5s ease, transform 0.5s, 0.5s ease;
}

.question__item {
    border-bottom: 1px solid var(--grey-color);
    border-top: 1px solid transparent;
    margin-top: -1px;
    transition: all 0.5s ease;
}
.question__item:first-child {
    border-top: 1px solid var(--grey-color);
}

.question__icon::before, .question__icon::after {
    content: "";
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color, 0.5s ease;
}

.question__icon::before {
    width: 31px;
    height: 1px;
}

.question__icon::after {
    width: 1px;
    height: 31px;
}

.question__btn:hover{
    color: var(--orange-color);
}
.question__item:first-child:hover, .question__item:hover{
    border-color: var(--orange-color);
}
.question__item:hover .question__icon::before,.question__item:hover .question__icon::after{
    background-color: #fff;
}
.question__item:hover .question__icon{
    background-color: var(--orange-color);
    
}